<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        Dettagli Coltura
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- CSS e JS personalizzato -->
    <link rel="stylesheet" href="../content/css/style.css">
</head>

<body>
    <div class="container">
        <div id="sum_box" class="row mbl">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="panel coltura db mbm">
                        <div class="panel-body">
                            <p class="icon">
                                <i class="icon fa fa-leaf"></i>
                            </p>
                            <h4 class="value">
                                <span>{{vm.colturaCorrente.nome}}</span>

                            </h4>
                            <p class="description">
                                Sensore {{vm.numSensore}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel infoColtura">
                        <div class="panel-body">
                            <b>Terreno:</b> {{vm.colturaCorrente.tipoTerreno}}
                        </div>
                    </div>
                    <div class="panel infoColtura">
                        <div class="panel-body">
                            <b> Umidità Percepita:</b> 34
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-6 ">
                <ul class="list-group text-center">
                    <li class="list-group-item list-group-item-success">
                        <strong>Impostazioni Umidità:</strong>
                    </li>
                    <li class="list-group-item">
                        <strong> Stato Crescita:</strong>
                        <label>{{vm.colturaCorrente.statoCrescita}}</label>
                        <button type="button" class="btn btn-link" title="Modifica">
                            <i class="fa fa-cog fa-lg" aria-hidden="true" style="color: red" ng-click="statoUpdate = ! statoUpdate"></i>
                        </button>
                        <div ng-show="statoUpdate">
                            <p> Modifica Stato Crescita</p>
                            <form ng-submit="vm.setStato()">
                                <select ng-model="vm.modificaColtStato">
                                    <option ng-repeat="stato in vm.statiCrescitaDisponibili" value="{{stato}}">
                                        {{stato}}
                                    </option>
                                </select>
                                <button class="btn btn-sm" type="submit">Salva</button>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <strong>Soglia Minima Umidità:</strong>
                        <label>{{vm.colturaCorrente.minUmidita.toString()}}</label>
                        <button type="button" class="btn btn-link" title="Modifica">
                            <i class="fa fa-cog fa-lg" aria-hidden="true" style="color: red" ng-click="minUpdate = ! minUpdate"></i>
                        </button>
                        <div ng-show="minUpdate">
                            <p> Modifica Soglia Minima </p>
                            <form ng-submit="vm.setMinUmidita()">
                                <input ng-model="vm.modificaColtMin">
                                <button class="btn btn-sm" type="submit">Salva</button>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <strong>Soglia Massima Umidità:</strong>
                        <label>{{vm.colturaCorrente.maxUmidita.toString()}}</label>
                        <button type="button" class="btn btn-link" title="Modifica">
                            <i class="fa fa-cog fa-lg" aria-hidden="true" style="color: red" ng-click="maxUpdate = ! maxUpdate"></i>
                        </button>
                        <div ng-show="maxUpdate">
                            <p> Modifica Soglia Massima </p>
                            <form ng-submit="vm.setMaxUmidita()">
                                <input ng-model="vm.modificaColtMax">
                                <button class="btn btn-sm" type="submit">Salva</button>
                            </form>
                        </div>
                    </li>

                </ul>
                <button class="col-md-4 btn" type="submit" ng-click="setUmiditaDefault()">Ripristina Umidità</button>

            </div>

            <div class="col-md-6">
                <ul class="list-group text-center">

                    <li class="list-group-item list-group-item-success">
                        <strong>Impostazioni Irrigazione:</strong>
                    </li>

                    <li class="list-group-item">
                        <strong>Irrigazione Automatica:</strong>
                        <label>SI - NO (da sistemare)</label>
                        <!--             <label class="col-md-1" ng-show="{{vm.colturaCorrente.irrigazioneAutomatica}}">
                        Attiva
                    </label>
                    <label class="col-md-1" ng-show="!{{vm.colturaCorrente.irrigazioneAutomatica}}">
                        Disattiva <br>
                        {{vm.colturaCorrente.orarioAttivazione}} - {{vm.colturaCorrente.orarioDisattivazione}}
                    </label> -->
                        <button type="button" class="btn btn-link" title="Modifica">
                            <i class="fa fa-cog fa-lg" aria-hidden="true" style="color: red" ng-click="irrigazione = ! irrigazione"></i>
                        </button>
                        <div ng-show="irrigazione">
                            <p> Modifica Tipo di Irrigazione </p>
                            <form ng-submit="vm.setIrrigazione()">
                                <label>Vuoi impostare l'irrigazione automatica?</label>
                                <input type="checkbox" ng-model="vm.modificaIrrigazione" ng-true-value="1" ng-false-value="0">
                                <div class="list-group-item" ng-if="!vm.modificaIrrigazione">
                                    <strong>Orari Irrigazione:</strong>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Orario Inizio</label>
                                            <input type="time" ng-model="vm.modificaStart">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Orario Fine</label>
                                            <input type="time" ng-model="vm.modificaStop">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-sm" type="submit">Salva</button>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <strong>Irrigazione Attiva:</strong>
                        <label>L'acqua scorre :)</label>
                    </li>
                </ul>
                <div>

                    <a class="col-md-4 btn" type="button" href="profilo">
                        < Indietro </button>
                </div>
            </div>
        </div>

    </div>
</body>